<div class="container">
<h1>Add a dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add a dose", class: "btn btn-primary" %>
<% end %>
</div>


<%= link_to "Add a cocktail", new_cocktail_path %>

